# Exercise 7: Clustering the fish data

Now use your standardization and clustering pipeline from the previous exercise to cluster the fish by their measurements, and then create a cross-tabulation to compare the cluster labels with the fish species.

**Step 1:** Load the dataset, extracting the species of the fish as a list `species` _(done for you)_

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('../datasets/fish.csv')

# remove the species from the DataFrame so only the measurements are left
species = list(df['species'])
del df['species']

**Step 2:** Build the pipeline as in the previous exercise _(filled in for you)._

In [2]:
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
species = np.array(species)
samples = np.array(df.values)
scaler = StandardScaler()
KMeans = KMeans()
pipeline = make_pipeline(scaler, KMeans)
pipeline

Pipeline(steps=[('standardscaler', StandardScaler()), ('kmeans', KMeans())])

**Step 3:** Fit the pipeline to the fish measurements `samples`.

In [3]:
pipeline.fit(samples)

Pipeline(steps=[('standardscaler', StandardScaler()), ('kmeans', KMeans())])

**Step 4:** Obtain the cluster labels for `samples` by using the `.predict()` method of `pipeline`, assigning the result to `labels`.

In [4]:
labels = pipeline.predict(samples)
#labels.shape
#labels = np.reshape(labels, (-1,85))
#species = np.reshape(species, (85, -1))
print(labels.shape)
print(species.shape)

(85,)
(85,)

**Step 5:** Using `pd.DataFrame()`, create a DataFrame `df` with two columns named `'labels'` and `'species'`, using `labels` and `species`, respectively, for the column values.

In [5]:

df1 = pd.DataFrame(labels, columns=['labels'])
df1['species'] = species
df1

    labels species
0        6   Bream
1        6   Bream
2        6   Bream
3        6   Bream
4        6   Bream
..     ...     ...
80       2    Pike
81       4    Pike
82       4    Pike
83       4    Pike
84       4    Pike

[85 rows x 2 columns]

**Step 6:** Using `pd.crosstab()`, create a cross-tabulation `ct` of `df['labels']` and `df['species']`.

In [6]:

ct = pd.crosstab(df1['labels'], df1['species'])

**Step 7:** Display your cross-tabulation, and check out how good your clustering is!

In [7]:
ct

species  Bream  Pike  Roach  Smelt
labels
0           14     0      0      0
1            0     0      0     13
2            0     7      0      0
3            0     0     19      1
4            0     4      0      0
5            0     6      0      0
6           13     0      1      0
7            7     0      0      0