# Exercise 9: Which stocks move together?

In the previous exercise, you clustered companies by their daily stock price movements.  So which company have stock prices that tend to change in the same way?  Now inspect the cluster labels from your clustering to find out.

**Step 1:** Load the data _(written for you)_.

In [1]:
import pandas as pd

fn = '../datasets/company-stock-movements-2010-2015-incl.csv'
stocks_df = pd.read_csv(fn, index_col=0)

**Step 2:** Run your code from the previous exercise _(filled in for you)_.

In [2]:
companies = list(stocks_df.index)
movements = stocks_df.values

from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

normalizer = Normalizer()
kmeans = KMeans(n_clusters=14)
pipeline = make_pipeline(normalizer, kmeans)
pipeline.fit(movements)

Pipeline(steps=[('normalizer', Normalizer()),
                ('kmeans', KMeans(n_clusters=14))])

**Step 3:** Use the `.predict()` method of the pipeline to predict the labels for `movements`.

In [6]:
labels = pipeline.predict(movements)

**Step 4:** Align the cluster labels with the list of company names `companies` by creating a DataFrame `df` with `labels` and `companies` as columns.

In [13]:
df = pd.DataFrame(companies)
df['labels'] = labels
df

                                     0  labels
0                                Apple       2
1                                  AIG       0
2                               Amazon      13
3                     American express       4
4                               Boeing       5
5                      Bank of America       4
6             British American Tobacco       6
7                                Canon       7
8                          Caterpillar       2
9                    Colgate-Palmolive      11
10                      ConocoPhillips       1
11                               Cisco       8
12                             Chevron       1
13                   DuPont de Nemours       2
14                                Dell       8
15                                Ford       4
16                   General Electrics       4
17                     Google/Alphabet      12
18                       Goldman Sachs       4
19                     GlaxoSmithKline       6
20                          Home Depot       9
21                               Honda       7
22                                  HP       8
23                                 IBM       9
24                               Intel       8
25                   Johnson & Johnson       9
26                      JPMorgan Chase       4
27                      Kimberly-Clark      11
28                           Coca Cola      10
29                     Lookheed Martin       5
30                          MasterCard       9
31                           McDonalds      10
32                                  3M       9
33                           Microsoft       8
34                          Mitsubishi       7
35                            Navistar       2
36                    Northrop Grumman       5
37                            Novartis       6
38                               Pepsi      10
39                              Pfizer       1
40                      Procter Gamble      11
41                       Philip Morris      10
42                   Royal Dutch Shell       6
43                                 SAP       6
44                        Schlumberger       1
45                                Sony       7
46                      Sanofi-Aventis       6
47                            Symantec      12
48                              Toyota       7
49                               Total       6
50  Taiwan Semiconductor Manufacturing       9
51                   Texas instruments       2
52                            Unilever       6
53                       Valero Energy       3
54                            Walgreen       9
55                         Wells Fargo       4
56                            Wal-Mart      10
57                               Exxon       1
58                               Xerox       9
59                               Yahoo      13

**Step 5:** Now display the DataFrame, sorted by cluster label.  To do this, use the `.sort_values()` method of `df` to sort the DataFrame by the `'labels'` column.

In [16]:
df.sort_values('labels')

                                     0  labels
1                                  AIG       0
44                        Schlumberger       1
57                               Exxon       1
12                             Chevron       1
39                              Pfizer       1
10                      ConocoPhillips       1
35                            Navistar       2
13                   DuPont de Nemours       2
0                                Apple       2
51                   Texas instruments       2
8                          Caterpillar       2
53                       Valero Energy       3
18                       Goldman Sachs       4
5                      Bank of America       4
55                         Wells Fargo       4
15                                Ford       4
16                   General Electrics       4
3                     American express       4
26                      JPMorgan Chase       4
36                    Northrop Grumman       5
29                     Lookheed Martin       5
4                               Boeing       5
52                            Unilever       6
49                               Total       6
6             British American Tobacco       6
46                      Sanofi-Aventis       6
19                     GlaxoSmithKline       6
43                                 SAP       6
42                   Royal Dutch Shell       6
37                            Novartis       6
48                              Toyota       7
45                                Sony       7
7                                Canon       7
34                          Mitsubishi       7
21                               Honda       7
14                                Dell       8
22                                  HP       8
11                               Cisco       8
24                               Intel       8
33                           Microsoft       8
50  Taiwan Semiconductor Manufacturing       9
23                                 IBM       9
25                   Johnson & Johnson       9
54                            Walgreen       9
32                                  3M       9
20                          Home Depot       9
30                          MasterCard       9
58                               Xerox       9
56                            Wal-Mart      10
41                       Philip Morris      10
38                               Pepsi      10
31                           McDonalds      10
28                           Coca Cola      10
40                      Procter Gamble      11
9                    Colgate-Palmolive      11
27                      Kimberly-Clark      11
17                     Google/Alphabet      12
47                            Symantec      12
2                               Amazon      13
59                               Yahoo      13

**Great job!** Using k-means, you've discovered which companies stock prices move together on the stock exchange.

In [25]:
import matplotlib.pyplot as plt
plt.figure(figsize=(25,10))